<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleExecutable</key>
	<string>l3diskex</string>
	<key>CFBundleGetInfoString</key>
	<string>L3DiskExplorer version 0.6.2, (c) 2015-2023 Sasaji</string>
	<key>CFBundleIconFile</key>
	<string>l3diskex.icns</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>jp</string>
	</array>
	<key>CFBundleLongVersionString</key>
	<string>0.6.2, (c) 2015-2023 Sasaji</string>
	<key>CFBundleName</key>
	<string>L3DiskExproler</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.6.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2015-2023 Sasaji</string>
</dict>
</plist>
